#Node modules
supuesto4/scripts/node_modules/

#Env
.env

#Logs
*.log

#Sistema
.DS_Store
Thumbs.db

# Node modules (paquetes instalados)
supuesto1/scripts/node_modules/

# Archivos de entorno con credenciales (si tienes .env)
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Sistema operativo
.DS_Store
Thumbs.db
